
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="serverSettingsLabel" data-translate="server.settings.title">Server settings</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.server.id">
            <label for="id" data-translate="global.field.id" class="col-md-2 col-form-label text-right">ID</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="id" name="id" ng-model="vm.server.id" readonly />
            </div>
        </div>
        <div class="form-group row settings">
            <label data-translate="server.settings.name" for="field_name">Name</label>
            <div class="value">
                <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.server.name" required/>
                <div ng-show="editForm.name.$invalid">
                    <p class="help-block"
                        ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group row settings">
            <label class="control-label" data-translate="server.settings.type" for="field_type">Type</label>
            <div class="value">
                <select name="type" id="field_type" ng-model="vm.server.type" required>
                    <option value="mqtt"> Mqtt</option>
                    <option value="xmpp"> Xmpp</option>
                </select>
                <div ng-show="editForm.type.$invalid">
                    <p class="help-block"
                        ng-show="editForm.type.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>

        <fieldset ng-show="vm.server.type == 'mqtt'">
            <legend class="col-form-legend" data-translate="server.settings.mqtt.settings-title">Mqtt settings</legend>
            <mqtt-server-settings server="vm.server.mqtt" required="vm.server.type == 'mqtt'" form="editForm"></mqtt-server-settings>
            <div class="form-group row settings">
                <label class="control-label" data-translate="server.settings.use_failover" for="field_use_failover">Use failover</label>
                <div class="value">
                    <input type="checkbox" id="field_use_failover" name="use_failover" ng-model="vm.server.useFailover">
                </div>
            </div>    
        </fieldset>
        
        <fieldset ng-show="vm.server.type == 'xmpp'">
            <legend class="col-form-legend" data-translate="server.settings.xmpp.settings-title">Xmpp settings</legend>
            <xmpp-server-settings server="vm.server.xmpp" enabled="vm.server.type == 'xmpp'" field_name_prefix="'xmpp_'" form="editForm"></xmpp-server-settings>
        </fieldset>
        <fieldset ng-show="vm.server.type == 'mqtt'">
            <legend class="col-form-legend" data-translate="server.settings.failover.failover-title">Failover Xmpp settings</legend>
            <xmpp-server-settings server="vm.server.failover" enabled="vm.server.useFailover" field_name_prefix="'failover_xmpp_'" form="editForm"></xmpp-server-settings>
        </fieldset>



        <fieldset>
            <legend class="col-form-legend" data-translate="server.settings.mqtt.configuration.title">Configuration</legend>
            <div class="form-group row settings">
                <label class="control-label" data-translate="server.settings.mqtt.configuration.publish_topic" for="field_mqtt_configuration_publish_topic">Publish topic</label>
                <div class="value">
                <input type="text" class="form-control" name="mqtt_configuration_publish_topic" id="field_mqtt_configuration_publish_topic" ng-model="vm.server.mqtt_configuration.publishTopic" required/>
                <div ng-show="editForm.mqtt_configuration_publish_topic.$invalid">
                    <p class="help-block"
                        ng-show="editForm.mqtt_configuration_publish_topic.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                </div>
            </div>
            <div class="form-group row settings">
                <label class="control-label" data-translate="server.settings.mqtt.configuration.publish_message" for="field_mqtt_configuration_publish_message">Publish message</label>
                <div class="value">
                <input type="text" class="form-control" name="mqtt_configuration_publish_message" id="field_mqtt_configuration_publish_message" ng-model="vm.server.mqtt_configuration.publishMessage" required/>
                <div ng-show="editForm.mqtt_configuration_publish_message.$invalid">
                    <p class="help-block"
                        ng-show="editForm.mqtt_configuration_publish_message.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                </div>
            </div>
            <div class="form-group row settings">
                <label class="control-label" data-translate="server.settings.mqtt.configuration.subscribe_topic" for="field_configuration_mqtt_subscribe_topic">Subscribe topic</label>
                <div class="value">
                <input type="text" class="form-control" name="configuration_mqtt_subscribe_topic" id="field_configuration_mqtt_subscribe_topic" ng-model="vm.server.mqtt_configuration.subscribeTopic" required/>
                <div ng-show="editForm.configuration_mqtt_subscribe_topic.$invalid">
                    <p class="help-block"
                        ng-show="editForm.configuration_mqtt_subscribe_topic.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                </div>
            </div>
        </fieldset>
        
        <fieldset>
            <legend class="col-form-legend" data-translate="server.settings.mqtt.connection.title">Connection</legend>
            <div class="form-group row settings">
                <label class="control-label" data-translate="server.settings.mqtt.connection.publish_topic" for="field_mqtt_connection_publish_topic">Publish topic</label>
                <div class="value">
                <input type="text" class="form-control" name="mqtt_connection_publish_topic" id="field_mqtt_connection_publish_topic" ng-model="vm.server.mqtt_connection.publishTopic" required/>
                <div ng-show="editForm.mqtt_connection_publish_topic.$invalid">
                    <p class="help-block"
                        ng-show="editForm.mqtt_connection_publish_topic.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                </div>
            </div>
            <div class="form-group row settings">
                <label class="control-label" data-translate="server.settings.mqtt.connection.subscribe_topic" for="field_mqtt_connection_subscribe_topic">Subscribe topic</label>
                <div class="value">
                <input type="text" class="form-control" name="mqtt_connection_subscribe_topic" id="field_mqtt_connection_subscribe_topic" ng-model="vm.server.mqtt_connection.subscribeTopic" required/>
                <div ng-show="editForm.mqtt_connection_subscribe_topic.$invalid">
                    <p class="help-block"
                        ng-show="editForm.mqtt_connection_subscribe_topic.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                </div>
            </div>
            <div class="form-group row settings">
                <label class="control-label" data-translate="server.settings.mqtt.connection.keepAliveInterval" for="field_keepAliveInterval">Keep alive interval (seconds)</label>
                <div class="value">
                <input type="text" class="form-control" name="keepAliveInterval" id="field_keepAliveInterval" ng-model="vm.server.mqtt_connection.keepAliveInterval" ng-pattern='/\d+/' required/>
                <div ng-show="editForm.keepAliveInterval.$invalid">
                    <p class="help-block"
                        ng-show="editForm.keepAliveInterval.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                </div>
            </div>
            <div class="form-group row settings">
                <label class="control-label" data-translate="server.settings.mqtt.connection.timeout" for="field_timeoutl">Timeout (seconds)</label>
                <div class="value">
                <input type="text" class="form-control" name="timeout" id="field_timeout" ng-model="vm.server.mqtt_connection.timeout" ng-pattern='/\d+/' required/>
                <div ng-show="editForm.timeout.$invalid">
                    <p class="help-block"
                        ng-show="editForm.timeout.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
                </div>
            </div>
        </fieldset>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button ng-if="vm.server.id" type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.deleteServer()">
            <span class="glyphicon glyphicon-remove"></span>&nbsp;<span data-translate="entity.action.delete">Cancel</span>
        </button>
        
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
