
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="serverSettingsLabel" data-translate="server.settings.title">Server settings</h4>
    </div>
    <div class="modal-body" >
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.server.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.server.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="server.settings.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.server.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="server.settings.type" for="field_type">Type</label>
            <select name="type" id="field_type" ng-model="vm.server.type" required>
                <option value="mqtt"> Mqtt</option>
                <option value="xmpp"> Xmpp</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>   
        <fieldset>
            <legend class="col-form-legend" data-translate="server.settings.mqtt.settings">Mqtt settings</legend>
            <div class="form-group">
                <label class="control-label" data-translate="server.settings.mqtt.broker_ip" for="field_broker_ip">Broker IP</label>
                <input type="text" class="form-control" name="broker_ip" id="field_broker_ip" ng-model="vm.server.settings.mqtt_broker_ip" ng-pattern='/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/' required/>
                <div ng-show="editForm.broker_ip.$invalid">
                    <p class="help-block"
                        ng-show="editForm.broker_ip.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" data-translate="server.settings.mqtt.broker_port" for="field_broker_port">Broker Port</label>
                <input type="text" class="form-control" name="broker_port" id="field_broker_port" ng-model="vm.server.settings.mqtt_broker_port" ng-pattern='/\d+/' required/>
                <div ng-show="editForm.broker_port.$invalid">
                    <p class="help-block"
                        ng-show="editForm.broker_port.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" data-translate="server.settings.mqtt.client_id" for="field_client_id">Client ID</label>
                <input type="text" class="form-control" name="client_id" id="field_client_id" ng-model="vm.server.settings.mqtt_client_id" required/>
                <div ng-show="editForm.client_id.$invalid">
                    <p class="help-block"
                        ng-show="editForm.client_id.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <fieldset>
                <legend class="col-form-legend" data-translate="server.settings.mqtt.configuration.title">Configuration</legend>
                <div class="form-group">
                    <label class="control-label" data-translate="server.settings.mqtt.configuration.publish_topic" for="field_mqtt_configuration_publish_topic">Publish topic</label>
                    <input type="text" class="form-control" name="mqtt_configuration_publish_topic" id="field_mqtt_configuration_publish_topic" ng-model="vm.server.settings.configuration.publishTopic" required/>
                    <div ng-show="editForm.mqtt_configuration_publish_topic.$invalid">
                        <p class="help-block"
                            ng-show="editForm.mqtt_configuration_publish_topic.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="server.settings.mqtt.configuration.publish_message" for="field_mqtt_configuration_publish_message">Publish message</label>
                    <input type="text" class="form-control" name="mqtt_configuration_publish_message" id="field_mqtt_configuration_publish_message" ng-model="vm.server.settings.configuration.publishMessage" required/>
                    <div ng-show="editForm.mqtt_configuration_publish_message.$invalid">
                        <p class="help-block"
                            ng-show="editForm.mqtt_configuration_publish_message.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="server.settings.mqtt.configuration.subscribe_topic" for="field_configuration_mqtt_subscribe_topic">Subscribe topic</label>
                    <input type="text" class="form-control" name="configuration_mqtt_subscribe_topic" id="field_configuration_mqtt_subscribe_topic" ng-model="vm.server.settings.configuration.subscribeTopic" required/>
                    <div ng-show="editForm.configuration_mqtt_subscribe_topic.$invalid">
                        <p class="help-block"
                            ng-show="editForm.configuration_mqtt_subscribe_topic.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend class="col-form-legend" data-translate="server.settings.mqtt.connection.title">Connection</legend>
                <div class="form-group">
                    <label class="control-label" data-translate="server.settings.mqtt.connection.publish_topic" for="field_mqtt_connection_publish_topic">Publish topic</label>
                    <input type="text" class="form-control" name="mqtt_connection_publish_topic" id="field_mqtt_connection_publish_topic" ng-model="vm.server.settings.connection.publishTopic" required/>
                    <div ng-show="editForm.mqtt_connection_publish_topic.$invalid">
                        <p class="help-block"
                            ng-show="editForm.mqtt_connection_publish_topic.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="server.settings.mqtt.connection.subscribe_topic" for="field_mqtt_connection_subscribe_topic">Subscribe topic</label>
                    <input type="text" class="form-control" name="mqtt_connection_subscribe_topic" id="field_mqtt_connection_subscribe_topic" ng-model="vm.server.settings.connection.subscribeTopic" required/>
                    <div ng-show="editForm.mqtt_connection_subscribe_topic.$invalid">
                        <p class="help-block"
                            ng-show="editForm.mqtt_connection_subscribe_topic.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="server.settings.mqtt.connection.keepAliveInterval" for="field_keepAliveInterval">Keep alive interval (seconds)</label>
                    <input type="text" class="form-control" name="keepAliveInterval" id="field_keepAliveInterval" ng-model="vm.server.settings.connection.keepAliveInterval" ng-pattern='/\d+/' required/>
                    <div ng-show="editForm.keepAliveInterval.$invalid">
                        <p class="help-block"
                            ng-show="editForm.keepAliveInterval.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="server.settings.mqtt.connection.timeout" for="field_timeoutl">Timeout (seconds)</label>
                    <input type="text" class="form-control" name="timeout" id="field_timeout" ng-model="vm.server.settings.connection.timeout" ng-pattern='/\d+/' required/>
                    <div ng-show="editForm.timeout.$invalid">
                        <p class="help-block"
                            ng-show="editForm.timeout.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </fieldset>
        </fieldset>        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
